 <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Novo Jogo</div>
        <div class="subtitle">Registre um novo jogo</div><br>
      </header>
      <div class="content"> 
        Novo jogo cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>