 <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Jogo</div>
      </header>
      <div class="content"> 
        Jogo atualizado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>