   <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Nova Máquina</div>
        <div class="subtitle">Registre uma nova Máquina</div><br>
      </header>
      <div class="content">
        <form id="form-maquina" autocomplete="off" action="/maquina/add/ok" method="post">
          <div class="grid">
            <div>
              <label for="nome_arcade">Nome da Máquina</label>
              <input id="nome_arcade" name="nome_arcade" type="text" placeholder="Ex: Arcade Cabinet #07" required>
            </div>
            <div>
              <label for="jogos_instalados">Jogos Instalados</label>
              <input id="jogos_instalados" name="jogos_instalados" type="number" required>
            </div>
            <div>
              <label for="condicao">Condição</label>
              <select id="condicao" name="condicao" required>
                <option value="" disabled selected>Selecione a condição</option>
                <option value="Excelente">Excelente</option>
                <option value="Ótima">Ótima</option>
                <option value="Boa">Boa</option>
                <option value="Regular">Regular</option>
                <option value="Ruim">Ruim</option>
                <option value="Péssima">Péssima</option>
                <option value="Em Reparo">Em Reparo</option>
              </select>
            </div>
            <div>
              <label for="disponibilidade">Disponibilidade</label>
              <select id="disponibilidade" name="disponibilidade" required>
                <option value="" disabled selected>Selecione a disponibilidade</option>
                <option value="Disponivel">Disponível</option>
                <option value="Em Uso">Em Uso</option>
                <option value="Manutenção">Em Manutenção</option>
              </select>
            </div>
             <div>
              <label for="conexao_internet">Conexão com a Internet</label>
              <select id="conexao_internet" name="conexao_internet" required>
                <option value="" disabled selected>Selecione a conexão</option>
                <option value="Online">Online</option>
                <option value="Offline">Offline</option>
              </select>
            </div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/maquina/lst">Cancelar</a>
            <button type="submit" class="btn primary">Criar Máquina</button>
          </footer>
        </form>
      </div>

      <%-include('../rodape.ejs')%>