 <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Nova Máquina</div>
        <div class="subtitle">Registre uma nova Máquina</div><br>
      </header>
      <div class="content"> 
        Nova Máquina cadastrada com sucesso.
      </div>

      <%-include('../rodape.ejs')%>