 <%-include('../cabecalho.ejs')%>
    <header>
      <div class="title2">Máquina</div>
    </header>
      <div class="content"> 
        Máquina atualizada com sucesso.
      </div>

      <%-include('../rodape.ejs')%>