 <%-include('../cabecalho.ejs')%>
    <header>
      <div class="title2">Cliente</div>
    </header>
      <div class="content"> 
        Cliente atualizado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>