<%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Nova Sessão de Jogo</div>
        <div class="subtitle">Registre uma nova sessão de jogo</div><br>
      </header>
      <div class="content"> 
        Nova sessão de jogo cadastrada com sucesso.
      </div>

      <%-include('../rodape.ejs')%>