<%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Sessão de Jogo</div>
      </header>
      <div class="content"> 
        Sessão de jogo atualizada com sucesso.
      </div>

      <%-include('../rodape.ejs')%>