 <%-include('../cabecalho.ejs')%>
     <header>
        <div class="title2">Novo Console</div>
        <div class="subtitle">Registre um novo console</div><br>
      </header>
      <div class="content"> 
        Novo console cadastrado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>