 <%-include('../cabecalho.ejs')%>
    <header>
      <div class="title2">Console</div>
    </header>
      <div class="content"> 
        Console atualizado com sucesso.
      </div>

      <%-include('../rodape.ejs')%>